Source: xwiimote-bindings
Section: devel
Priority: extra
Maintainer: Karol Auguštin
Build-Depends: debhelper (>= 9), dpkg-dev (>= 1.16.1~), automake, autoconf, libtool,
	libncurses5-dev, libudev-dev, pkg-config, swig, libxwiimote-dev, python, python-dev, libperl-dev
Standards-Version: 3.9.3
Homepage: https://github.com/dvdhrm/xwiimote-bindings
Vcs-Git: git://
Vcs-Browser: http://

Package: python-xwiimote
Section: libs
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nintendo Wii Remote Linux Device Driver Tools Python bindings
 xwiimote is an open-source device driver for Nintendo Wii / Wii U remotes. It
 contains tools and libraries which work together with the official hid-wiimote.


Package: libxwiimote-perl
Section: libs
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nintendo Wii Remote Linux Device Driver Tools Perl bindings
 xwiimote is an open-source device driver for Nintendo Wii / Wii U remotes. It
 contains tools and libraries which work together with the official hid-wiimote.
