#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

#confflags := --disable-silent-rules \
#	--prefix=/usr \
#	--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
#	$(NULL)
#confflags += $(shell dpkg-buildflags --export=configure)

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh --prefix=`pwd`/build2

override_dh_auto_build:
	make install
